/* Remove forced height */
div {
    /* no forced height */
}

/* Image settings */
img {
    float: right;
    width: 200px;
    height: auto;
}

/* Title styling */
#title {
    font-style: italic;
    text-align: center;
    color: blueviolet;
}

/* Center images with flexbox */
.container {
    display: flex;
    justify-content: center;
}

/* Blue text class */
.blue {
    color: blue;
}

/* Paragraph font */
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.learn {
    color:green;
}

#fun {
    font-size: 30px;
}